*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
    float: left;
    padding: 0;
}

li{
    float: left;
    font-size: 1.75rem;
    width: 40px;
    align-content: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

.button{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: .5rem;
    background-color: #F0F2F5;
}

.blue-btn{
    background-color: #1B74E4;
    color:white;
    a{
        color:white;
    }
}

.black-btn{
    padding: 12px 16px 12px 32px;
    background-color: rgba(0, 0, 0, 0.8);
    a{
        color:white;}
}


body{
    background-color: #F0F2F5;
}

.nav{
    width: 100%;
    height: 56px;
    background-color:white;
    padding: 0 16px;
    position: fixed ;
    z-index: 1;
    box-shadow: 0px 0px 5px #919191;

    &-logo{
        margin-top: 8px;
        li{
            input{
                position: relative;
                width: 17vw;
                border-radius: 1rem;
                padding: 12px;
                color: #5d5d5d;
                border: none;
                background-color: #F0F2F5;

                &:focus{ 
                    outline: none;
                }
            }
            .placeholder{
                position: absolute;
                top: 10px;
                left: 80px;
                color: #919191;
                pointer-events: none;

                span{
                    font-size: 17px;
                }
            }

            input:focus + .placeholder{ 
                color: transparent; 
            }

            input:not(:focus) + .placeholder{ 
                color: #919191;
            }
            
        }
    }

    &-icon{
        width: 40%;
        position: absolute;
        left: 30vw;
        top: 5.5px;
        li{
            width: calc(( 100% - 50px ) / 5);
            border-radius: .5rem;
            padding: 5px 0;

            &:hover{
                background-color: #f0f0f0;
                transition:  .3s ease-out;
            }
            img{
                padding: 2.5px 45px 0;
            }
        }
    }

    &-icon-end{
        margin-top: 8px;
        margin-right: 14px;
        float: right;
        li{
            height: 40px;
            background-color: rgb(228,230,235);
            border-radius: 50%;
            img{
                height: 20px;
                padding: 10px;
            }
        }
        &-icon{
            background-image: url(../image/icon.JPG);
            background-size: cover;
            a{
                height: 100%;
                width: 100%;
            }
        }
    }
}
.main{
    width: 100%;
    height: 600px;
    padding-top: 56px;
    background-color: white;
    box-shadow: 0px 0px 5px #919191;

    &-banner{
        width: 75%;
        height: 400px;
        background-image: url(../image/banner.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 13vw;
        border-radius: 0 0 15px 15px;

        &-cover{
            position: absolute;
            bottom: 0;
            border-radius: 0 0 15px 15px;
            width: 100%;
            height: 30%;
            background:linear-gradient(to top, rgba(39, 40, 43, 0.508),rgba(255, 255, 255, 0));
        }

        &-edit{
            position: absolute;
            right: 20px;
            bottom: 20px;
            a{
                position: relative;
                    span{
                        font-size: 18px;
                        position: absolute;
                        left: -20px;
                        top: 1.4px;
                    }
            }
        }

        &-profile{
            width: 93%;
            height: 110px;
            margin: 400px auto 0;
            padding-bottom: 16px;
            border-bottom: 1px solid rgb(196, 200, 209);

            &-icon{
                width: 170px;
                height: 170px;
                border: 5px solid white;
                border-radius: 50%;
                background-image: url(../image/icon.JPG);
                background-size: cover;
                position: absolute;
                bottom: -105px;
                left: 50px;

                .camera{
                    display: inline-block;
                    a{
                        width: 40px;
                        height: 40px;
                        background-color: #F0F2F5;
                        border-radius: 50%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                    
                }
            }

            &-name{
                font-size: 15px;
                position: absolute;
                bottom: -95px;
                left: 250px;
                h1{
                    font-size: 32px;
                    margin-bottom: 3px;
                }
            }

            &-edit{
                position: absolute;
                right: 40px;
                bottom: -95px;

                &-item{
                    float: left;
                    padding: 12px;
                    margin-left: 10px;
                    img{
                        padding-top: 5px;
                    }
                    a{
                        position: relative;
                        span{
                            font-size: 20px;
                            position: absolute;
                            left: -20px;
                            top: 1.4px;
                        }
                    }
                }
                
            }

            &-options{
                position: relative;
                top: 140px;
                ul{
                    width: 60%;
                    li{
                        float: left;
                        width: calc((100% - 42px )/ 8);
                        border-radius: .5rem;
                        padding: 0 0px 10px 5px;
                        
                        &:hover{
                            background-color: #f0f0f0;
                            transition:  .3s ease-out;
                        }

                        a{
                            padding: 0 16px;
                            display: inline-block;
                            font-size: 15px;
                            color: #5d5d5d;
                            font-weight: bold;
                            word-break:keep-all;
                            position: relative;

                            span{
                                position: absolute;
                                left: 2.7rem;
                                top: -2px;
                            }
                        }

                    }
                }

                &-more{
                    position: absolute;
                    right: 0;
                    top: 8px;
                    padding: 8px 12px;
                }

            }
        }
    }

}

.content{
    width: 75%;
    height: 700px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px #919191;
}
