*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(92, 78, 53);
    display: block;
    padding: 10px 12px;
}


@keyframes icon-shake {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 254, 247);
    display: flex;
}

.nav{
    width: 300px;
    flex-shrink: 0 ;
    height: 100%;
    background-color: #9FB8AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.nav-logo{
    width: 120px;
    
}
.nav-logo img{
    width: 100%;
    border-radius: 50%;
}

.nav-logo img:hover{
    box-shadow: -2px 2px 10px rgba(186, 182, 160, 0.809);
    animation: icon-shake 5s  infinite linear ;
}

/*漢堡*/
.nav-menu{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    position: fixed;
    left: 0;
}

.nav-menu:hover{
    opacity: 80%;
}

input#nav-menu {
    display: none;
}

/*製作三條線*/
.nav-line {
    display: block;
    background: rgb(66, 58, 44);
    content: '';
    width: 30px;
    height:2px;
    position: absolute;
    left: 10px;
    /*垂直偏移 持續.3s 延遲.3s*/
    transition: top ease .3s , transform ease .3s;
}
.line1 {
    top: 15px;
}
.line2 {
    top: 25px;
}
.line3 {
    top: 35px;
}

/*線變化*/
#nav-menu:checked + .nav-menu .line2 {
    display: none;
}
#nav-menu:checked + .nav-menu .line1 {
    transform: rotate(45deg);
}
#nav-menu:checked + .nav-menu .line3 {
    transform: rotate(-45deg);
}

#nav-menu:checked + .nav-menu .line1,
#nav-menu:checked + .nav-menu .line3 {
    top: 25px;
    transition: top ease .3s, transform ease .3s .3s ;
}

/*展開*/
.nav-list{
    width: 100px;
    text-align: center;
}

.nav-list-show{
    position: absolute;
    top: 89px;
    left: 0px;
    width: 100px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(88, 80, 70, 0.405);
    box-shadow: 0 2px 4px rgba(109, 106, 106, 0.596);
    overflow: hidden;
    transition: all ease-in-out .5s .1s;
}

.nav-list-btn-show{
    display: none;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.681);
}

.nav-list-btn{
    margin-bottom: 10px;
    background-color: rgb(241, 221, 194);
    border-radius: 10px;
    font-size: 16px;
    display: block;
}

.nav-list-btn a:hover{
    opacity: 70%;
}
.nav-list-btn a:active{
    color: rgb(108, 25, 25);
}

.nav-list-btn-show a:hover{
    opacity: 70%;
}
.nav-list-btn-show a:active{
    color: rgb(108, 25, 25);
}

.nav-list-btn:hover , .nav-list-btn-show:hover{
    box-shadow: -2px 2px 7px rgba(129, 126, 110, 0.809);;
}

/*漢堡結束*/

.main{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content{
    width: 80%;
    height: 80%;
    background-color: rgb(250, 242, 233);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-img {
    width: calc(100% / 3);
    height: 100%;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.main-img:hover{
    border-radius: 10px;
    transform: scale(1.02);
    transition: .5s ease-in-out;
}

.main-content-item1{
    background-image: url(../img/photo1.webp);
}
.main-content-item2{
    background-image: url(../img/photo2.jpeg);
}
.main-content-item3{
    background-image: url(../img/photo3.webp);
}

/*Small-PC*/
@media screen and ( max-width: 1280px){
    .main-img {
        height: calc(50% - 5px);
    }
    .main-content-item1{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-content-item2{
        width: calc(50% - 5px);
    }
    .main-content-item3{
        width: calc(50% - 5px);
    }
}

/*Tablet*/
@media screen and ( max-width: 768px){
    .container{
        flex-direction: column;
    }
    .nav{
        width: 100%;
        flex-grow: 1;
        height: auto;
        display: flex;
        padding: 0 15px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav-logo{
        width: 80px;
    }
    .nav-logo img{
        width: 80px;
        height: 80px;
        margin: 0;
    }
    .nav-list{
        width: auto;
    }
    .nav-list-show{
        display: none;
    }
    .nav-list-btn{
        margin-bottom: 0;
        margin-left: 5px;
        display: inline-block;
    }
    .main{
        flex-grow: 10;
        width: 90%;
        margin: 30px 0;
        justify-content: center;
        align-self: center;
    }
    .main-content{
        width: 100%;
        height: 100%;
    }
    .main-img {
        height: calc(50% - 5px);
        background-position:center;
        background-size: cover;
        background-attachment: fixed;
    }
    .main-content-item1{
        width: 100%;
        margin-bottom: 10px;
    }
    .main-content-item2{
        width: calc(50% - 5px);
        margin-right: 10px;
    }
    .main-content-item3{
        width: calc(50% - 5px);
    }
}

/*Phone*/
@media screen and ( max-width: 450px){
    .nav{
        flex-grow: 1;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .nav-logo{
        width: 70px;
    }
    .nav-logo img{
        width: 70px;
        height: 70px;
    }
    /*漢堡*/
    .nav-menu{
        display: block;
        z-index: 3;
    }
    .nav-list,.nav-list-btn{
        display: none;
    }

    .nav-list-show{
        display:block;
        height: 0;
        position: absolute;
        z-index: 2;
    }

    .nav-list-btn-show{
        display: block;
        width: 78px;
        font-size: 14px;
        margin-bottom: 10px;
    } 

    #nav-menu:checked ~ .nav-list-show {
        height: 160px;
    }
    /*漢堡結束*/
    .main{
        flex-grow: 20;
        width: 100%;
        overflow: hidden;
        margin: 0;
    }
    
    .main-img {
        width: 100%;
        height: calc(100% / 3);
        margin: 0;
    }
}
